{{#each this}}
  <li class='movies__card'>
    <div class='movies__item'>
      <a class='movies__link' href='#' data-id='{{id}}'>
        <div class='movies__img-box'>
          <img class='movies__img' src='{{img}}' alt='{{title}} poster' />
        </div>
        <div class='movies__content'>
          <h2 class='movies__title'>{{title}}</h2>
          <p class='movies__genre'>{{genre}}
            |
            {{releaseDate}}<span class='movies__rating'>{{vote}}</span>
          </p>
        </div>
      </a>
    </div>
    <div class='trailer-button'>
      <a href='#' class='hi-icon video-play-btn' aria-label='watch trailer'><i
          class='fa fa-play'
          aria-hidden='true'
        ></i></a>
    </div>
  </li>
{{/each}}